@model RajvinderYogi_Assignment1_COMP2084.Models.ClassicCar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ClassicCar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Car Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>

        <dt>
            Make Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeYear)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{ 
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
