@model RajvinderYogi_Assignment1_COMP2084.Models.CarDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassicCar.CarName)
        </dd>

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBrand)
        </dd>

        <dt>
            Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            Year
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarYear)
        </dd>

    </dl>
</div>
@if (User.Identity.IsAuthenticated) { 
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
